apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: writefreely-keys
  namespace: writefreely
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 100Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: writefreely-data
  namespace: writefreely
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 2Gi
