apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: debian-ssh-home
  namespace: debian-ssh
  labels:
    app: debian-ssh
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 30Gi
