apiVersion: v1
kind: Service
metadata:
  name: debian-ssh
  namespace: debian-ssh
  labels:
    app: debian-ssh
spec:
  type: NodePort
  selector:
    app: debian-ssh
  ports:
  - name: ssh
    protocol: TCP
    port: 22
    targetPort: 22
    nodePort: 30022
  # Mosh UDP port - mosh uses UDP ports 60000-61000 dynamically
  # With hostNetwork: true, mosh will work on the full range
  - name: mosh
    protocol: UDP
    port: 60000
    targetPort: 60000
    nodePort: 30060
  externalIPs:
    - "94.130.181.89"
  externalTrafficPolicy: Local
